<!DOCTYPE html>
<%- include('./partials/header') %>
    <h1>users:</h1>
        <% for(let i = 0; i < users.length; i++) { %>
            <ul>
            <% let user = users[i]; %>
            <li>name: <%= user.username %></li>
            <li>phone: <%= user.phone %></li>
            <li>email: <%= user.email %></li>
            </ul>
        <% } console.log(users) %>
    
</body>
<script>
    console.log(users);
</script>
</html>